body {
    background-color: white;
</body>;
    max-width: 500px;
      padding: 20px;
      margin: 0 auto;
      text-align: center;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      color: grey;


}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
    color: grey;
  }
}
a {
     text-decoration: none;
     color: grey;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
