@import url('https://fonts.googleapis.com/css?family=Scope+One|Droid+Serif');

h1 {
  font-family: 'Scope One', cursive;
  font-size: 4em;
  color: black;
}
body {
    background-color: white;
      margin: 0 auto;
      text-align: center;
      font-family: 'Droid Serif', serif;
      font-size: 1em;
}
ul {
    text-align: center;
    list-style-type: none;
    font-weight: normal;
}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
}
a {
     text-decoration: none; 
     color: black;  
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}
article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}
footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
div {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}