@import url('https://fonts.googleapis.com/css?family=Scope+One|Droid+Serif');

h1 {
  font-family: 'Scope One', cursive;
  font-size: 3em;
  color: black;
  text-align: center;

}

p {
  padding-left: 1em;
}
body {
    background-color: white;
      margin: 0 auto;
      text-align: center;
      font-family: 'Droid Serif', serif;
      font-size: 1em;
}
ul {
    text-align: center;
    list-style-type: none;
    font-weight: normal;
}
li {
    display: inline-block;
    padding: 0px 10px 0px 10px;
}
a {
color: black; 
background: white;
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
    text-decoration: none; 
}

a:hover {
color: grey;
}

#footer {

display: inline-block;
text-align: center;
padding: 1.8em;
font-size: .5em;
clear: both;
}

#wrapper {
    position: relative;
}

img {
    max-width: 75%;
    height: auto;
    padding: 2em;
    position: center;
    padding-left: 2em;
}


#wrapper {
    height: 1000px;
    position: relative;
}

