@import url('https://fonts.googleapis.com/css?family=Scope+One|Droid+Serif');

h1 {
  font-family: 'Scope One', cursive;
  font-size: 4em;
  color: black;
}
body {
    background-color: white;
      margin: 0 auto;
      text-align: center;
      font-family: 'Droid Serif', serif;
      font-size: 1em;
}
ul {
    text-align: center;
    list-style-type: none;
    font-weight: normal;
}
li {
    display: inline-block;
    padding: 0px 10px 0px 10px;
}
a {
     text-decoration: none; 
     color: black; 
     padding-left: 2em;
}

a:hover {
  background-color: #aaaaaa;
}

#footer {
display: inline-block;
text-align: center;
padding: 1.8em;
font-size: .5em;
clear: both;
}

#wrapper {
    height: 1000px;
    position: relative;
}


img {
  width: 600px;
  padding: 1.8em;
}

div.container {
      display:inline-block;
    } 