h1 {
  ont-family: 'Amatica SC', cursive;
  font-size: 5em;
}
body {
    background-color: white;
    width: 960px;
      margin: 0 auto;
      text-transform: lowercase;
      text-align: center;
      font-family: 'Droid Serif', serif;
      color: grey;
}
ul {
    text-align: center;
    list-style-type: none;
    font-weight: normal;
}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
}
a {
     text-decoration: none; 
     text-decoration-color: black;  
}

